# Build files
/build/

# Node and bower directories
node_modules/
bower_components/

# Temporary files
*~
*.log
*.mo
.grunt/
docs/

# IDE files
.idea/
*.ipr
*.iml
*.iws
.project
.classpath
.settings
classes/
